main { padding: 1em; }
@media (min-width: 10cm) {
	main { padding: 3em; }
}

main ~ nav {
	overflow-x: scroll;
	overflow-y: hidden;
}

p {
	line-height: 1.25em;
	padding-bottom: 1em;
}

blockquote > p {
	padding-bottom: 0;
	margin-bottom: 1em;
	margin-top: 0.5em;
}

h1 {
	font-size: 2.4rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.4rem;
}

h5 {
	font-size: 1.3rem;
}

h6 {
	font-size: 1.2rem;
}

main > footer {
	text-align: center;
	margin-top: 8em;
	font-style: italic;
	font-size: 0.8rem;
	display: flex;
	width: 100%;
}
main > footer > q {
	flex: 1;
}
