body { color: #aaa; }

main p, main ol, main ul {
	max-width: 10in;
	margin-left: auto;
	margin-right:  auto;
	line-height: 1.3em;
	font-size: 0.9rem;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}
